<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Grupos</th>
    </tr>
    </thead>
    <tbody>
    {{#each competitions}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.groups}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>