<div class="x_panel">
    <div class="x_content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 headergroup">
                    <h1><i style="position: relative;right: 20px; color: rgba(255,255,255,0.70);"
                           class="fa fa-group"></i>Nome
                        do grupo</h1>
                </div>
            </div>

            <div class="row centered" style="margin-top: 20px;">

                <!--each member-->
                <div class="col-xs-4 col-sm-2 col-md-1 memberinfo" style="padding: 0;">
                    <img src="/img/userprof.png" class="img-responsive">
                    <h6><strong>José Renato Baroni</strong></h6>
                    <p>Rentablidade Mensal:<strong> 12%</strong></p>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 memberinfo" style="padding: 0;">
                    <img src="/img/userprof.png" class="img-responsive">
                    <h6><strong>José Renato Baroni</strong></h6>
                    <p>Rentablidade Mensal:<strong> 12%</strong></p>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 memberinfo" style="padding: 0;">
                    <img src="/img/userprof.png" class="img-responsive">
                    <h6><strong>José Renato Baroni</strong></h6>
                    <p>Rentablidade Mensal:<strong> 12%</strong></p>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 memberinfo" style="padding: 0;">
                    <img src="/img/userprof.png" class="img-responsive">
                    <h6><strong>José Renato Baroni</strong></h6>
                    <p>Rentablidade Mensal:<strong> 12%</strong></p>
                    <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </div>
                <!--each member-->
            </div>
            <hr>

            <div class="row">

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i class="fa fa-bar-chart"></i> Rentabilidade Mensal</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <iframe class="chartjs-hidden-iframe"
                                    style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;">
                            </iframe>
                            <canvas id="lineChart" width="703" height="300px"
                                    style="width: 703px; height: 351px;"></canvas>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i style="color: #E6CE1D;" class="fa fa-trophy"></i> Troféus</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Competições</th>
                                    <th>Posição</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Nome competição</td>
                                    <td>1º</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>