<div class="x_panel">
    <div class="x_content">

        <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <div class="groupsearch">
                    <input type="search" name="filter" id="search" placeholder="Nome do grupo">
                    <i class="fa fa-2x fa-search hidden-xs"></i>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">

            {{#each groups}}
                <div class="groupbox col-xs-12 col-sm-6 col-md-4 col-lg-3"
                     style="display: none; padding-left: 0px; padding-right: 0px;" data-filter={{this.name}}>

                    <div class="groupboxheader">
                        <i class="fa fa-3x fa-group"></i>
                        <h2>{{this.name}}</h2>
                    </div>

                    <div class="memberspic">
                        <img class="img-responsive img-circle" src="/img/userprof.png">
                        <img class="img-responsive img-circle" src="/img/userprof.png">
                        <img class="img-responsive img-circle" src="/img/userprof.png">
                        <img class="img-responsive img-circle" src="/img/userprof.png">
                        <img class="img-responsive img-circle" src="/img/userprof.png">
                    </div>

                    <div class="grouprentab">
                        <p style="margin: 1px;">Capital: <strong>R$ 2873,00</strong></p>
                        <p style="margin: 1px;">Rentabilidade Mensal: <strong>50%</strong></p>
                    </div>
                    {{#if ../hasGroup}}
                        <div class="buttonrequestdisabled">
                            <p>Você já está em um grupo</p>
                        </div>

                    {{else}}
                        <a href="#">
                            <div class="buttonrequest" data-id="{{this.id}}">
                                <p><i class="fa fa-plus"></i> Enviar Solicitação</p>
                            </div>
                        </a>

                    {{/if}}

                </div>
            {{/each}}

        </div>
        <div id="modal-request-group" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <form class="form-request-group">
                        <input name="groupId" type="hidden" id="group_id">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Solicitar participacao</h4>
                        </div>
                        <div class="modal-body">
                            <label for="">Texto de solicitacao</label>
                            <textarea name="message" class="form-control">Ola, me aceite em seu grupo!</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-success btn-send-request" data-dismiss="modal">Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        var filter_div = $('[data-filter]');
        $('#search').keyup(function (event) {
            if (event.which == 13) {
                this.value = '';
                $(this).blur();
                return;
            }
            var val = $.trim(this.value);
            filter_div.hide();
            if (val.length == 0) return;
            filter_div.filter(function () {
                return $(this).data('filter').toLowerCase().indexOf(val.toLowerCase()) > -1
            }).fadeIn(200);

        })
    });
</script>

<script>
    var $requestGroup = $(".buttonrequest"),
            $modalRequestGroup = $("#modal-request-group"),
            $sendRequest = $(".btn-send-request"),
            $groupId = $("#group_id"),
            $newGroup = $(".btn-create-group");

    $requestGroup.on("click", function () {
        var groupId = $(this).attr("data-id");

        $groupId.val(groupId);
        $modalRequestGroup.modal("show");
    });

    $newGroup.on("click", function () {
        location.href = "/groups/new";
    });

    $sendRequest.on("click", function () {
        $.post("groups/send_request", $(".form-request-group").serialize(), function () {
            $modalRequestGroup.hide();
        });
    });

</script>
