<button class="btn btn-success btn-create-group" type="button">Criar grupo</button>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    {{#each groups}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <button data-id="{{this.id}}" type="button" class="btn-request-group btn btn-primary btn-xs"><i class="fa fa-plus"></i>
                    Solicitar participacao
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div id="modal-request-group" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-request-group">
                <input name="groupId" type="hidden" id="group_id">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Solicitar participacao</h4>
                </div>
                <div class="modal-body">
                    <label for="">Texto de solicitacao</label>
                    <textarea name="message" class="form-control">Ola, me aceite em seu grupo!</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success btn-send-request">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var $requetGroup = $(".btn-request-group"),
            $modalRequestGroup = $("#modal-request-group"),
            $sendRequest = $(".btn-send-request"),
            $groupId = $("#group_id"),
            $newGroup = $(".btn-create-group");

    $requetGroup.on("click", function (){
        var groupId = $(this).attr("data-id");

        $groupId.val(groupId);
        $modalRequestGroup.modal("show");
    });

    $newGroup.on("click", function () {
        location.href = "/groups/new";
    });

    $sendRequest.on("click", function () {
        $.post("send_request", $(".form-request-group").serialize(), function () {
             $modalRequestGroup.hide();
        });
    });
</script>