<div class="x_panel">
    <div class="x_content">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerhome">
            <h1>Bem-vindo ao Stock Clash</h1>
            <p>Escolha o caminho que você gostaria de seguir</p>
        </div>
        </div>

        <div class="row minuspadding" style="margin-top: 20px">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="/groups/new"><div class="homebox">
                    <div class="homeboxheader" style="background-color: #3498db "><i class="fa fa-5x fa-group"></i><i class="fa fa-2x fa-plus"></i></div>
                    <h4>Criar um Grupo</h4>
                    <p>Convide seus amigos e crie um grupo para participar de competições em equipe.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="/groups"><div class="homebox">
                    <div class="homeboxheader" style="background-color: #2980b9 "><i class="fa fa-5x fa-group"></i></div>
                    <h4>Entrar em grupo</h4>
                    <p>Envie solicitações de participação e entre em um grupo já existente no jogo.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"><div class="homebox">
                    <div class="homeboxheader" style="background-color: #34495e "><i class="fa fa-5x fa-trophy"></i></div>
                    <h4>Entrar em competição</h4>
                    <p>Procure uma competição individual ou em equipe e mande uma solicitação para participar.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"> <div class="homebox">
                    <div class="homeboxheader" style="background-color: #2c3e50 "><i class="fa fa-5x fa-trophy"></i><i class="fa fa-2x fa-plus"></i></div>
                    <h4>Criar uma competição </h4>
                    <p style="margin-bottom: 2px;">Convide grupos ou jogadores para sua competição.</p>
                    <p style="font-size: 12px; color: rgba(178,0,19,0.65);"><strong>Apenas jogadores com pontuação acima de X pontos podem criar competições.</strong></p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"><div class="homebox">
                    <div class="homeboxheader" style="background-color: #e67e22 "><i class="fa fa-5x fa-group"></i><i style="margin-left: 5px;" class="fa fa-2x fa-bar-chart"></i></div>
                    <h4>Resumo do Grupo</h4>
                    <p>Acesse informações como rentabilidade do grupo, posição na competição atual e desempenho dos integrantes.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"><div class="homebox">
                    <div class="homeboxheader" style="background-color: #d35400 "><i class="fa fa-5x fa-user"></i><i style="margin-left: 5px;" class="fa fa-2x fa-bar-chart"></i></div>
                    <h4>Resumo individual</h4>
                    <p>Acesse informações sobre sua rentabilidade individual, ações na carteira e sua posição na competição atual.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"> <div class="homebox">
                    <div class="homeboxheader" style="background-color: #9b59b6 "><i class="fa fa-5x fa-line-chart"></i></div>
                    <h4>Gráfico de ações</h4>
                    <p>Analise graficamente as ações para tentar fazer o melhor negócio.</p>
                </div></a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="#"> <div class="homebox">
                    <div class="homeboxheader" style="background-color: #8e44ad "><i class="fa fa-5x fa-list"></i></div>
                    <h4>Extrato da conta</h4>
                    <p>Veja todas as transações realizadas até o momento por você.</p>
                </div></a>
            </div>

        </div>


    </div>
</div>