<div class="x_panel">
    <div class="x_content">
        <h1 style="font-family: Montserrat Regular; text-align: center"><i style="color: rgba(255,0,0,0.80)" class="fa fa-close"></i> Você já possui um grupo!</h1>
        <a href="/"><p style="text-align:center;margin-top: 50px;text-decoration: underline;">Voltar ao Início</p></a><a href="/groups/"><p style="text-align:center;text-decoration: underline;">Ir para página do grupo</p></a>
    </div>
</div>