
    <div class="">

        <!--Paineis de cima-->
        <div class="row top_tiles">

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon" style="margin-right: 20px;margin-top: 10px;"><i class="fa fa-calendar"></i></div>
                    <div class="count" style="height: 60px;margin-left: 10px;line-height: 2.85;font-size:25px;">158</div>
                    <h3>Dias Restantes</h3>
                    <p>Para o término da competição</p>
                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon" style="margin-right: 20px;margin-top: 10px;"><i class="fa fa-line-chart"></i></div>
                    <div class="count" style="height: 60px;margin-left: 10px; color:#1eac90;line-height: 2.85;font-size:25px;">+179,0%</div>
                    <h3>Rentabilidade</h3>
                    <p>Acumulada na competição</p>
                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon" style="margin-right: 20px;margin-top: 10px;"><i class="fa fa-plus"></i></div>
                    <div class="count" style="height: 60px;margin-left: 10px; color:#1eac90;line-height: 2.85;font-size:25px;">$ +950,00</div>
                    <h3>Ganho Acumulado</h3>
                    <p>Lucro durante a competição</p>
                </div>
            </div>

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon" style="margin-right: 20px;margin-top: 10px;"><i class="fa fa-bank"></i></div>
                    <div class="count" style="height: 60px;margin-left: 10px;line-height: 2.85;font-size:25px;">$ 1.000,00</div>
                    <h3>Banco</h3>
                    <p>Disponível para uso</p>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <!--Painel grafico-->
                <div class="x_panel">
                    <div class="x_title">
                        <h2><span class="fa-sm fa-bar-chart"></span> Rentabilidade Mensal</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;">
                        </iframe>
                        <canvas id="lineChart" width="703" height="300px" style="width: 703px; height: 351px;"></canvas>
                    </div>
                </div>
                <!--Painel stocks-->
                <div class="x_panel">
                    <div class="x_title">
                        <h2><span class="fa fa-bars"></span> Ações na carteira</h2>
                        <div class="clearfix"></div>
                        <div class="x_content" style="margin-top: 20px;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Ação</th>
                                    <th>Qtd</th>
                                    <th>Preço na Compra</th>
                                    <th>Preço Atual</th>
                                    <th>Variação</th>
                                    <th>Vender</th>
                                </tr>
                                </thead>

                                <tbody class="text-center">

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>150</td>
                                    <td>$ 10,00</td>
                                    <td>$ 11,00</td>
                                    <td>% 1.00%</td>
                                    <td><button class="btn btn-danger btn-xs"><icon class="fa fa-usd"></icon></button></td>
                                </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>


            <!--Painel ranking-->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><span class="fa fa-trophy"

                        ></span> Ranking de Grupos</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <ul class="list-unstyled top_profiles scroll-view">
                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">Nome do Grupo</a>
                                    <p><strong>+32%</strong></p>
                                    <p> <small>Rentabilidade mensal</small>
                                    </p>
                                </div>
                            </li>

                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">Nome do Grupo</a>
                                    <p><strong>+32%</strong></p>
                                    <p> <small>Rentabilidade mensal</small>
                                    </p>
                                </div>
                            </li>

                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">Nome do Grupo</a>
                                    <p><strong>+32%</strong></p>
                                    <p> <small>Rentabilidade mensal</small>
                                    </p>
                                </div>
                            </li>

                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">Nome do Grupo</a>
                                    <p><strong>+32%</strong></p>
                                    <p> <small>Rentabilidade mensal</small>
                                    </p>
                                </div>
                            </li>

                            <li class="media event">
                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">Nome do Grupo</a>
                                    <p><strong>+32%</strong></p>
                                    <p> <small>Rentabilidade mensal</small>
                                    </p>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>


            <!--Painel ranking stock-->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><span class="fa fa-star"></span> Ações da Semana</h2>
                        <div class="clearfix"></div>
                        <div class="x_content" style="margin-top: 20px; padding-bottom: 0px;">

                            <table class="table table-striped" style="margin-bottom: 2px;">
                                <thead>
                                <tr>
                                    <th>Ação</th>
                                    <th>Rentabilidade</th>
                                    <th>Preço Atual</th>
                                </tr>
                                </thead>

                                <tbody class="text-center text-center">

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>

                                <tr>
                                    <td>ABEV3</td>
                                    <td>10%</td>
                                    <td>$ 10,00</td>
                                </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <!-- /footer content -->
